<div *ngIf='model$ | async as model' class="container">

  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="over">
      <mat-nav-list class="nav-list">
        <mat-list-item><button mat-button style="color: var(--color-link-l4)">ТУРНИРЫ</button></mat-list-item>
        <mat-list-item><button mat-button style="color: var(--color-link-l4)">УЧАСТНИКИ</button></mat-list-item>
        <mat-list-item><button mat-button style="color: var(--color-link-l4)">РЕЙТИНГ</button></mat-list-item>
        <mat-list-item><button mat-button style="color: var(--color-link-l4)">ПРАВИЛА</button></mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
      <div class="main">

        <div class="left">
          <div class="button__container">
            <button (click)="drawer.toggle()" class="button button__menu">
              <svg-icon src="assets/icons/menu.svg" class="button__image" alt="menu"></svg-icon>
            </button>
            <p class="title bm">МЕНЮ</p>
          </div>
          <svg-icon src="assets/icons/image.svg" class="title sc" alt="sc"></svg-icon>
        </div>

        <div class="right">

          <button *ngIf='model.isAuth; else login'
                  class="button button__exit"
                  (click)='logout($event)'>
            <svg-icon src="assets/icons/exit.svg" alt="exit"></svg-icon>
          </button>


          <ng-template #login>
            <div class="auth_button">
            <button class="button button__enter" [routerLink]="['/auth/login']">Войти</button>
            <button class="button button__register" [routerLink]="['/auth/register']">Регистрация</button>
            </div>
          </ng-template>

          <div class="title title__main">
            <h1 class="title__h1">ТУРНИРЫ</h1>
            <div class="p_container">
              <p class="title title__p ">ОТКРЫТЫЕ СОРЕВНОВАНИЯ СРЕДИ ШКОЛЬНИКОВ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <button class="button button__arrow" [routerLink]="['/info']">
          <svg-icon src="assets/icons/arrow.svg" alt="arrow"></svg-icon>
        </button>
        <div class="tour-button">
          <button class="button button__finished">
            <p>ЗАВЕРШЕННЫЕ ТУРНИРЫ<br>СМОТРЕТЬ РЕЗУЛЬТАТЫ</p>
          </button>
          <button class="button button__coming">
            <p>ПРЕДСТОЯЩИЕ ТУРНИРЫ<br>ЗАПИСАТЬСЯ НА ТУРНИР</p>
          </button>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

</div>




