:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-base-d5: #0F111E;
  --color-base-d4: #181C2F;
  --color-base-d3: #4a5273;
  --color-base-d2: #49527A;
  --color-base-d1: #6975A5;
  --color-base: #7B88BC;
  --color-base-l1: #8E9AC7;
  --color-base-l2: #AFB8DA;
  --color-base-l3: #CDD3EA;
  --color-base-l4: #E4E8F5;
  --color-base-l5: #F8F9FD;

  --color-link-d5: #04061A;
  --color-link-d4: #0F164B;
  --color-link-d3: #1E2B7D;
  --color-link-d2: #3245AF;
  --color-link-d1: #4A64E2;
  --color-link: #5875FB;
  --color-link-l1: #6D89FB;
  --color-link-l2: #96ABFD;
  --color-link-l3: #B9CAFE;
  --color-link-l4: #D9E2FF;
  --color-link-l5: #F3F7FF;

  --color-negative-d5: #1A0403;
  --color-negative-d4: #4D0F0C;
  --color-negative-d3: #801F19;
  --color-negative-d2: #B3342A;
  --color-negative-d1: #E64E3F;
  --color-negative: #FF5C4B;
  --color-negative-l1: #FF7162;
  --color-negative-l2: #FF998C;
  --color-negative-l3: #FFBCB2;
  --color-negative-l4: #FFDAD4;
  --color-negative-l5: #FFF3F2;

  --color-positive-d5: #001304;
  --color-positive-d4: #023811;
  --color-positive-d3: #066122;
  --color-positive-d2: #0B8C38;
  --color-positive-d1: #12BB53;
  --color-positive: #16D362;
  --color-positive-l1: #2FDA76;
  --color-positive-l2: #5FE89E;
  --color-positive-l3: #8FF2BF;
  --color-positive-l4: #BDFADD;
  --color-positive-l5: #E9FEF4;

  --color-attention-d5: #1A0C00;
  --color-attention-d4: #4D2700;
  --color-attention-d3: #804600;
  --color-attention-d2: #B36A00;
  --color-attention-d1: #E69300;
  --color-attention: #FFA800;
  --color-attention-l1: #FFB619;
  --color-attention-l2: #FFCE4C;
  --color-attention-l3: #FFE17F;
  --color-attention-l4: #FFF1B2;
  --color-attention-l5: #FFFBE5;

  --color-bg-users-search: #E0E0E0;
  --color-user-child-title: #1E40A0;
  --color-user-child-bg: #ede8e8;

  //--color-data-d1: #FF254E;
  //--color-data: #FF3E65;
  //--color-data-l1: #FF6E8F;
  //--color-analytics-d1: #FF6C00;
  //--color-analytics: #FF901B;
  //--color-analytics-l1: #FFB067;
  //--color-admin-d1: #7E38D7;
  //--color-admin: #8B4DDB;
  //--color-admin-l3: #C18FFF;
  //--color-help-d1: #4F53FF;
  //--color-help: #666AFF;
  //--color-help-l1: #9093FF;
  //--color-license-d1: #5EA81D;
  //--color-license: #69C423;
  //--color-license-l1: #86CD3C;
  //--color-ml-d1: #0097B7;
  //--color-ml: #00B3DA;
  //--color-ml-l1: #30BCDF;
  //--color-dataset-d1: #FF8619;
  //--color-dataset: #FF9C27;
  //--color-source-d1: #1C60D7;
  //--color-source: #2A83EC;
  //--color-showcase-d1: #0C806E;
  //--color-showcase: #12A28C;
  //--color-administrator: #CD7EC1;
  //--color-emias-d1: #3A6464;
  //--color-emias-d2: #264040;
  //--color-emias-d3: #103636;
  //--color-emias-l1: #A8DEDE;
  //--color-emias-l2: #678B8B;
  //--color-emias-l3: #4E6E6E;
  //--color-data-source: #2a83ec;
  //--color-data-set: #ff9c27;
  //--color-data-mart: #1bb76c;
  //--color-excel: #156842;
  //--color-csv: #16a4cd;
  //--color-json: #882152;
  //--color-highlight: #fff38d;
  //--color-button: #ffffff;
  //--color-left-join: #db64c6;
  //--color-inner-join: #00a78f;
  //--color-access-level: #e169bb;
  //--color-user-creator: #6ca7ff;
}
