<div class="users__wrapper">
    <div class="users__header">
        <div class="users__search-wrapper">
            <div class="users__search-input-wrapper">
                <input class="users__search-input" matInput placeholder="Поиск по ФИО, городу, школе, классу"
                    value="searchValue" [(ngModel)]="filtersTotal.searchValue">
                <mat-icon (click)="resetSearchValue()" class="users__reset-icon">highlight_off</mat-icon>
            </div>
            <button mat-button mat-raised-button class="users__search-btn" (click)="sendFilter()">
                <mat-icon class="users__search-icon">search</mat-icon>
            </button>
        </div>
        <button (click)="openModal(4)" class="users__btn_padding" mat-raised-button color="primary">Создать пользователя</button>
    </div>
    <div class="users__filters-wrapper">
        <mat-form-field appearance="fill" class="users__filters users__filters_margin">
            <mat-label>Сортировка по</mat-label>
            <mat-select [(ngModel)]="filtersTotal.filterType">
                <mat-option *ngFor="let filterTourneys of filtersTourneysView" [value]="filterTourneys.value">
                    {{filterTourneys.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="users__filters">
            <mat-label>Фильтрация по турнирам</mat-label>
            <mat-select [formControl]="filters" multiple>
                <mat-select-trigger>
                    {{filters.value ? filters.value[0] : ''}}
                    <span *ngIf="filters.value?.length > 1">
                        (+{{filters.value.length - 1}} {{filters.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let filterType of usersData.filterTourneys" [value]="filterType.value">{{filterType.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="users__items">
        <div class="users__child" *ngFor="let userData of usersData.users
        | filterUsers: filtersTotal.searchValue
        | filterTourneys: filters.value
        | sortingUsers: filtersTotal.filterType">
            <div class="users__child-work-info">
                <h3>{{userData.name}}</h3>
                <mat-select placeholder="Текущие турниры" [(ngModel)]="filtersTotal.filterType" class="users__child-select">
                    <mat-option disabled="true" *ngFor="let startTourney of userData.startTourneys" [value]="startTourney.value">
                        {{startTourney.name}}
                    </mat-option>
                </mat-select>
                <mat-select placeholder="Прошедшие турниры" [(ngModel)]="filtersTotal.filterType" class="users__child-select">
                    <mat-option disabled="true" *ngFor="let endTourney of userData.endTourneys" [value]="endTourney.value">
                        {{endTourney.name}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="users__child-personal-info">
                <div>{{userData.title.city}}</div>
                <div>{{userData.title.school}}</div>
                <div>{{userData.title.classroom}}</div>
            </div>
            <div class="users__child-edit-btns">
                <button (click)="openModal(1)" class="users__btn_margin" mat-raised-button color="primary">Редактировать</button>
                <button (click)="openModal(2)" class="users__btn_margin" mat-raised-button color="accent">Заблокировать</button>
                <button (click)="identificationModal(3, userData.id)" mat-raised-button color="warn">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" *ngIf="!!viewModal" [ngSwitch]="viewModal">
    <div class="modal__wrapper" *ngSwitchCase="3">
        <h3>Подтвердить удаление?</h3>
        <div class="modal__btn-wrapper">
            <button mat-button mat-raised-button (click)="sendDelete()">да</button>
            <button mat-button mat-raised-button color="warn" (click)="closeModal()">нет</button>
        </div>
    </div>
    <div class="modal__wrapper" *ngSwitchCase="2">
        <h3>Подтвердить блокировку?</h3>
        <textarea [(ngModel)]="lockMessage" placeholder="Укажите причину блокировки" cols="20" rows="10"></textarea>
        <div class="modal__btn-wrapper">
            <button mat-button mat-raised-button (click)="sendLock()">да</button>
            <button mat-button mat-raised-button color="warn" (click)="closeModal()">нет</button>
        </div>
    </div>
    <form [formGroup]="formEdit" class="modal__wrapper" *ngSwitchCase="1">
        <app-users-edit [title]="'Редактирование'" (eventClick)="closeModal()" [form]="formEdit"></app-users-edit>
    </form>
    <form [formGroup]="formEdit" class="modal__wrapper" *ngSwitchCase="4">
        <app-users-edit [title]="'Создание'" (eventClick)="closeModal()" [form]="formEdit"></app-users-edit>
    </form>
</div>
