:host {
  color: var(--color-link);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  margin-top: 36px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.title {
  margin-left: 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 58px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.button {
  margin-left: 50px;
  margin-top: 35px;
  //background: #585858;
  //color: white;
  width: 195px;
  height: 50px;
  margin-bottom: 54px;
  border-radius: 15px;
  //cursor: pointer;

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 376px;
    margin-left: auto;
    border-top: 1px solid var(--color-link);
  }

  &__support {
    width: 222px;
    height: 20px;
    margin: 0 0 0;
    padding: 0;
    background: none;
    text-decoration: underline;
    border: none;
  }

  &__support-container {
    display: flex;
    flex-direction: revert;
    margin-left: auto;
  }
}

.select {
  width: 376px;
  height: 36px;
}
.multiselect{
  border: 1px solid #dedede;
  border-radius: 5px;
  color: #343434;;
  background: #E4E8F5;
  padding: 5px;
}

.text-field {
  width: 376px;
  height: 36px;

  &__label {
    padding-right: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.input {
  width: 376px;
  height: 36px;
  border-radius: 2.67px;
  background-color: #E0E0E0;
  border: none;
  margin-top: 19px;
  padding: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }
}

.checkbox {
  margin-top: 14px;
}

.error {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #B3261E;

  &__no {
    height: 19px;
  }
}
